.main-nav-wrap{
  height: 70px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 4em;
  background-color: var(--yellow-1);
}
.main-nav-wrap > h1{
  font-size: 2em; 
  cursor: pointer;
}
.main-nav-wrap > h1 > a { 
  text-decoration: none;
  font-weight: 700;
  color: var(--blue-1);
}
.signup-btn, .login-btn { 
  box-sizing: border-box;
  padding: 1em 0em; 
  font-size: 1em; 
  border-radius: 5px;
  font-weight: 400; 
  text-decoration: none;
  color: var(--black-1);
}

.signup-btn:hover, .login-btn:hover{
  text-decoration: underline;
}

.signup-btn{
  margin-right: 0.5em;
}