.category-index-wrap{
   position: relative;
    
}
.category-index-wrap > div{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    min-height: calc(100vh - 70px);
    width: 100%;
    height: auto; 

}
.category-index-wrap > div > div{
    flex-wrap: wrap;
    display: flex;
    margin-top: 2rem;
    
}
.category-wrap{
    flex: 1;
}
.category-wrap > h2{
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1rem;
}
.category-wrap > ul{
    box-sizing: border-box;
    padding: 1rem;
    
}
.category-wrap > ul > li { 
    text-align: center;
}


/* category button animation */
.category-wrap a {
    padding: 2em 1em;
    height: 9em;
    width: 300px;
    box-sizing: border-box;
    background-color: var(--blue-2);
    position: relative; 
    display: inline-block; 
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.border-btn-title{
    margin-bottom: 1em;
    text-transform: uppercase;
}

.category-wrap a:hover { 
    color: rgba(255, 255, 255, 1);
    background-color: var(--blue-1);
}

.category-wrap a span { 
    display: block; 
    position: absolute;
    background: var(--yellow-1);
}

.category-wrap a span:nth-child(1) {
    left: 0;
    bottom: 0; 
    width: 4px;
    height: 100%; 
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;

}
.category-wrap a:hover span:nth-child(1) { 
    transform: scaleY(1); 
    transform-origin: bottom;
    transition: transform 0.5s;
}

.category-wrap a span:nth-child(2) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    transform: scaleY(0);
    transform-origin: right;
    transition: transform 0.5s;

}

.category-wrap a:hover span:nth-child(2) {
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
}

.category-wrap a span:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 4px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;

}

.category-wrap a:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.category-wrap a span:nth-child(4) {
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    transform: scaleY(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;

}

.category-wrap a:hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.search-input-wrap{
    margin-top: 2rem;
    display: flex; 
    justify-content: center;
    width: 50%;
    position: relative;
}
.search-input-wrap > input{ 
    padding: 0.5rem;
    width: 50%;
    font-size: 1.1em; 
    outline: none;
    border: 2px solid black;
    color: var(--gray-3);
    letter-spacing: 2px;
    transition: 0.3s;
    width: 100%; 
}
.search-input-wrap > .search-icon{
    position: absolute; 
    left: -30px;
    font-size: 1.4em; 
    top: 50%; 
    transform: translateY(-50%);
}

.search-input-wrap > input:focus{
    border: 2px solid var(--blue-1);
    color: black;
}

@media only screen and (max-width: 800px) {
    .category-index-wrap>div>div {
        width: 100%;

    }
    .category-wrap{
        width: 100%;
    }

    .category-index-wrap > div > div{
        margin-top: 2rem;
    }
}