.flashcard-form-wrap{
  position: relative; 
  min-height: calc(100vh - 70px);

}

.flashcard-form-wrap > div > div{
  padding: 3rem 1rem;
  
}

.flashcard-form-wrap > div > div  h1{
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.flashcard-form-wrap > div > div > form{ 
  box-sizing: border-box;
  padding: 3rem 1rem;
  width: 50%; 
  margin: 3rem auto;
  border: 1px solid var(--gray-1);
}

.flashcard-form-wrap > div > div  label { 
  font-size: 2rem;
}
.create-card-input-wrap > input { 
  padding: 1rem;
  font-size: 1.2rem;
  box-sizing: border-box;
}

.create-card-input-wrap{
  display: flex; 
  margin: 0 0 2rem 0;
}


.create-card-input-wrap > * {
  flex: 1;
  color: var(--gray-5);

}

.create-card-submit-wrap { 
  /* margin-top: 10rem; */
  text-align: center;
  padding-right: 20px;
}

.create-card-submit-wrap > input{
  background: var(--blue-1);
  border: 1px solid var(--gray-1);
  border-radius: 4px; 
  font-size: 1rem;
  padding: 1rem;
  color: white;
  letter-spacing: 0px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.create-card-submit-wrap > input:hover{
  text-shadow: 1px 1px var(--yellow-1);
  box-shadow: 1px 1px 1px 1px var(--yellow-2);
  letter-spacing: 2px;
}

.not-yours-wrap{
  margin: 5rem 0;  
  display: flex; 
  flex-direction: column;
  padding: 0.5rem;
}
.not-yours-message{
  text-align: center;
  font-size: 1.6rem;
  color: var(--gray-6);
}
.not-yours-link{
  padding: 2rem 3rem;
  border-radius: 4px;
  background-color: var(--gray-6);
  color: var(--gray-1); 
  transition: 0.3s;
  border: none;
  text-decoration: none;
  text-align: center;
  width: 30%;  
  margin: 3rem auto;
  font-size: 1.2rem; 
  font-weight: 600;
  box-sizing: border-box;
}
.not-yours-link:hover{
  color: white; 
  background-color: var(--blue-1);
  letter-spacing: 1.2px;
}

@media only screen and (max-width: 800px) {
  .flashcard-form-wrap>div>div>form {
    
    padding: 1rem 0.4rem;
    width: 100%;
    margin: 3rem auto;
    border: 1px solid var(--gray-1);
  }
  .flashcard-form-wrap>div>div label {
    font-size: 1.3rem;
  }
  .create-card-input-wrap>input {
    padding: 0.8rem 0.2rem;
    font-size: 1.2rem;
  }
  .flashcard-form-wrap>div>div {
    padding: 3rem 0.5rem;
  
  }
  .not-yours-link{
    width: 80%;
  }
}

.card-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-card-submit-wrap > button{
  background: var(--red-1);
  border: 1px solid var(--gray-1);
  border-radius: 4px; 
  font-size: 1rem;
  padding: 1rem;
  color: white;
  letter-spacing: 0px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.delete-card-submit-wrap > button:hover{
  text-shadow: 1px 1px var(--yellow-1);
  box-shadow: 1px 1px 1px 1px var(--yellow-2);
  letter-spacing: 2px;
}