svg:hover{
    color: gray;
}

svg{
    color: black;
    font-size: 40px;
}

.background-modal{
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    opacity: .5;
    z-index: 1;
}

.member{
    display: flex;
    flex-direction: column;
}

.about-us-modal{
    z-index: 5;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    background-color: white;
}

.about-us-modal > ul{
    display: flex;
}

.icons{
    display: flex;
}

.two-people{
    display: flex;
}

.close-about-us-modal{
    display: absolute;
    top: 0; 
    right: 0;
    color: blue;
    float: right;
}

.test-container{
    height: 1px;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}