.question-index-wrap{
    padding: 3rem 1rem; 
    width: 80%;
    margin: 1rem auto;
    border: 1px solid var(--gray-1);
}

.hidden-class{
    display: none !important;
    
}
.new-question-container-wrap{
    padding: 3rem 1rem;
    width: 80%;
    margin: 1rem auto;
    border: 2px solid var(--gray-5);
}
.new-question-form-wrap{
    
}

.edit-question-form-wrap{
    
}

.question-index-question-wrap p{
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0 0 1rem 0;
}

.question-index-question-wrap li{
    margin: 0 0 0.5rem 0;
    
}
.question-index-question-wrap > ul{
    list-style-type: lower-alpha;
    list-style-position: inside;
    padding: 0 2rem;
}
.edit-question-btn-wrap{
    display: flex;
    justify-content: flex-end;
}
.edit-question-btn-wrap > button{
    
    padding: 1rem 2rem;
    color: black; 
    border: none; 
    box-shadow: 0 0 2px 2px var(--blue-1);
    background-color: var(--yellow-1);
    transition: 0.2s;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    
}

.edit-question-btn-wrap button:hover{
    background-color: var(--blue-2);
    color: white;
}

.new-question-form-wrap label{
    display: flex; 
    align-items: center;
    margin-bottom: 1rem;
    
}
.new-question-form-wrap label > input{
    padding: 0.5rem 1rem; 
    border-radius: 3px;
    

}
.new-question-form-wrap label > input, .new-question-form-wrap label > span{
    flex: 1
}
.new-question-submit-btn-wrap, .question-delete-btn-wrap, .new-question-cancel-btn-wrap{
    text-align: center;
    margin-bottom: 0.5rem;
}
.new-question-submit-btn-wrap > input, .question-delete-btn-wrap > button, .new-question-cancel-btn-wrap > button{
    border: 2px solid blue;
    width: 70%; 
    padding: 0.5rem 0;
    letter-spacing: 2px;
    text-transform: lowercase;
    font-size: 1.1rem;
    background: var(--blue-1);
    color: white;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}


.question-delete-btn-wrap > button{
    background-color: red;
}

.new-question-submit-btn-wrap > input:hover, .new-question-cancel-btn-wrap > button:hover, .question-delete-btn-wrap>button:hover{
    letter-spacing: 5px;

}

