.quiz-question-wrap{
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
}

.question-sentence{
    font-size: 1.2rem; 
    margin: 2rem 0;
    color: var(--yellow-1);
    background-color: var(--gray-6);
    padding: 1rem;
    border-radius: 10px;
}
.question-choices-wrap{
    padding: 0 1rem;
}

.correct-answer {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 10%;
    padding: 15px;
    border: 1px green solid;
    border-radius: 3px;
    width: 60%;
    background-color: rgb(24, 182, 24);
}

.correct-answer * {
    font-size: 24px;
    font-weight: bold;
}