.lesson-show-wrap {
  position: relative;
  min-height: calc(100vh - 70px);
}

.author {
  font-size: .5em;
}

.lesson-show-container {
  position: absolute;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

/* 
.lesson-show-category {
  margin-bottom: 3rem;
  border: 1px solid black;
  color: var(--yellow-1);
  font-weight: 800;
  font-size: 1rem;
  display: flex;
  justify-content: center;
} */

.lesson-show-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--yellow-1);
  font-weight: 800;
  font-size: 4rem;
  padding-top: 1rem;

}




#lesson-html-content {
  display: flex;
  justify-self: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid var(--gray-1);
  padding: 0.5rem;
  margin-top: 1rem;

  max-width: 100rem;
  max-height: 30rem;
  overflow: scroll;

}

#lesson-html-content>p {
  /* padding-bottom: 1rem; */
  position: relative;
  transition: 0.4s;
}

.lesson-quiz-redirect-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  padding-right: 5rem;
}

.lesson-quiz-redirect-button {
  /* background-color: white;
  border: 1px solid black; */
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  box-sizing: content-box;
  text-decoration: none;
  letter-spacing: 1.1px;
  color: white;
  border-radius: 10px;
  background-color: var(--blue-1);
  cursor: pointer;
  transition-duration: 0.3s;
}

.lesson-quiz-redirect-button:hover {
  background-color: var(--blue-2);
  color: lightcyan;
  z-index: 10;
  /*   h-offset, v-offset, blur, spread, color */
  /* box-shadow: 5px, 10px, 8px, 10px, black; */
  box-shadow: 0.01rem 0.9rem 25px 0.2rem var(--gray-1);
  letter-spacing: 1.5px;
}