.lesson-form-wrap{
  position: relative; 
  min-height: calc(100vh - 70px); 
}
.lesson-form{
  padding: 4rem 0;
  width: 80%; 
  margin: 0 auto;
}
.quill-editor{
  border: 1px solid var(--blue-1);
  outline: none;
  box-shadow: 3px 3px 2px 2px var(--yellow-1);
  margin-bottom: 2rem;
}
.lesson-form-header{
  font-size: 3rem;
  margin-bottom: 3rem;
  color: var(--yellow-1); 
  font-weight: 800; 
}
.lesson-title-wrap{ 
  margin-bottom: 1rem;
  font-size: 1rem;
}
.lesson-title-wrap > input{
  border: 1px solid black;
  border-radius: 5px; 
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  box-sizing: border-box;
}
.lesson-title-wrap, .category-select-wrap{
  display: flex; 
  width: 50%;
}
.lesson-title-wrap > label, .category-select-wrap > label{
  flex: 0.5; 
}
.lesson-title-wrap > input, .category-select-wrap > select{
  flex: 1;
}
.pick-category-header{
  margin-bottom: 1rem;
}
.category-select-wrap{
  padding: 1rem 0;
  
}
.category-select-wrap > select{
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.lesson-form-submit{
  padding: 1rem;
  background: var(--blue-2);
  border: 5px solid var(--blue-2);
  border-radius: 5%; 
  color: var(--gray-1);
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  font-size: 1.2rem;
}
.lesson-form-submit:hover{
  background: var(--blue-1);
  color:white; 
  
}
@media only screen and (max-width: 800px) {
    .lesson-form{
      width: 95%; 
    }
    .lesson-title-wrap,
    .category-select-wrap {
      width: 100%;
    }
    .lesson-title-wrap>label,
    .category-select-wrap>label {
      flex: 0.5;
    }
    
    .lesson-title-wrap>input,
    .category-select-wrap>select {
      flex: 0.5;
    }
    .lesson-title-wrap>input {
      padding: 0.5rem 0.1rem;
      text-indent: 20px;
    }

    
}